body{
    background:linear-gradient(#FF477E , #F9BEC7 );
    background-image:url("https://i.makeagif.com/media/9-03-2019/u8KWRI.gif");
    background-size:cover;
    
}

.button1{
    font-size:20px;
    background: rgb(245, 155, 170);
    padding:5px 15px;
    border-color: red;
    color:rgb(224, 9, 9);
    border-radius:15px 10px;
    transition: background-color 0.3s ease;
    cursor:pointer;
    

}
.button2{
    font-size:20px;
    margin-left:50px;
    margin-top:35px;
    background: rgb(245, 155, 170);
    padding:5px 15px;
    border-color: red;
    color:rgb(224,9,9);
    border-radius:15px 10px;
    cursor:pointer;
    transition: background-color 0.3s ease;
   
    

    
}
.button2:hover{
    color:white;
    background-color: rgb(228, 82, 114);
   
}

.button1:hover{
    background-color: rgb(228, 82, 114);
   
    
    
}



#card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
}

.text{
    font-size:30px;
    color:rgb(198, 6, 6);
    text-shadow: 3px 3px 10px;
}
.image{
    width:300px;
}

.yeslink{
    color:rgb(198, 6, 6);
}

.yeslink:hover{
    color:rgb(113, 4, 32);
}

.nolink{
    color:rgb(198, 6, 6);
}
.nolink:hover{
    color:rgb(113, 4, 32);
}

#align{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    
}

.left{
   margin-right:100px; 
   margin-left:50px;  
   font-size:20px;
   color:rgb(176, 6, 6);
   font-weight:bold;
   text-shadow: 3px 1px 7px;

}

.right{
    margin-left:150px; 
    margin-right:50px;  
    font-size:20px; 
    color:rgb(176, 6, 6);
    font-weight:bold;
    text-shadow: 3px 1px 7px;
 }